.wrapper {
  background: radial-gradient(
    75% 75% at 91.7% 6.8%,
    var(--bg-color-p3) 0%,
    var(--bg-color-p4) 100%
  );
  padding: 96px 0;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}

.workItem {
  width: calc(50% - 48px);
  flex-grow: 1;
}

.workItem img {
  width: 100%;
  object-fit: contain;
}
